
RenpyProjects/TheAdventuresofKalyskahKarnstein-1.0-dists/**
RenpyProjects/The Adventures of Kalyskah Karnstein/game/saves/**
RenpyProjects/The Adventures of Kalyskah Karnstein/game/cache/**
RenpyProjects/The Adventures of Kalyskah Karnstein/log.txt
RenpyProjects/The Adventures of Kalyskah Karnstein/traceback.txt
